<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div>
  <div class="html-to-pdf">
    <div id="convert-html">
      <img src="./assets/shapes.svg" alt="">
      <h1>lorem Ipsum</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quae incidunt, minima a at rerum culpa aperiam,
        consectetur harum ab modi porro illum dolor dolorem dicta? Corporis vero sequi magnam.
      </p>
      <h6>
        The width property has effect only on block-level elements or on elements with absolute or fixed position. The
        overflowing content can be manipulated with the overflow property.

        Tip: Use the height property to set or return the height of an element.
      </h6>
    </div>
  </div>
</ion-content>
<div class="ion-footer">
  <div class="pdf-buttons">
    <!-- <ion-button color="dark" (click)="exportImage();">Convert to image</ion-button> -->
    <ion-button color="dark" (click)="downloadPdf();">Convert to pdf</ion-button>
  </div>
</div>