ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  margin-top: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.html-to-pdf {
  padding: 20px;

  img {
    width: 100%;
  }
}

.pdf-buttons {
  display: flex;

  .button {
    --border-radius: 0;
    border-right: 2px solid #ffffff;
    margin: 0;
    width: 100%;
    --min-height: max-content;
    height: 56px;
    --box-shadow: none;

    &:last-child {
      border-right: 0;
    }
  }
}

#convert-html {
  background: #f7f7f7;
  padding: 20px;
  border: 1px solid var(--ion-color-dark-tint);
}